extend layout 

block head 
  link(rel="stylesheet", href="/css/bootstrap.min.css")
  script(src="/js/jquery-2.1.4.min.js")
  script(src="/js/bootstrap.min.js")
  script(src="//d3js.org/d3.v3.min.js")

block content 
  div.container
    div.col-md-6.col-md-offset-3
      button.btn.btn-success#get-metrics Hello world
      #content
  
  script
    :coffee-script
      $('#get-metrics').click (e) ->
        e.preventDefault()
        $.getJSON '/metrics.json', (data) ->
          $('#content').empty()
          c = ""
          doc = d3.select ".container" 
          svg = doc.append "svg"
          svg.append "rect"
            .attr "x", 100
            .attr "y", 100
            .attr "width", 200
            .attr "height", 100
            .style "fill", "#000"
            .style "stroke", "red"
            .style "stroke-width", "10"
          for metric in data 
            c += "<p>timestamp: #{metric.timestamp}<br/>value: #{metric.value}</p>"
          $('#content').append c