extend layout

block head
  script(type="text/javascript" src="js/jquery-2.1.4.min.js" charset="utf-8")
  script(type="text/javascript" src="js/bootstrap.min.js" charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css')

block content
  #form
  p Please enter your informations
  hr
  form#login(action='/signup', method="post")
    .form-group
      label Username
      input(type='text', name="username")
    .form-group
      label Password
      input(type='text', name="password")
    .form-group
      label name
      input(type='text', name="name")
    .form-group
      label email
      input(type='text', name="email")
    button.btn.btn-success.btn-block(type='submit') Signup