.axis path,
.axis line
  fill none
  stroke #000
  shape-rendering crispEdges

text
  font-size 70%

.point
  fill steelblue
  stroke #000

svg
  padding-left 100px

.login
  margin-top 200px

.loginform
  padding-left 10px

input
  float right

.graph
  border-style ridge
  border-width 1px
  border-color grey
  margin-top 5px

body
  background-color #D7F0FB

.table
  td
    text-align center
  th
    text-align center

#selecteur
  position relative
  bottom 22px

#premiereligne
  border-bottom ridge grey
  border-left ridge grey
  border-right ridge grey
  border-width 1px

#deuxiemeligne
  padding-top 100px

#logou
  margin-top 10px

.add-metric
  margin-bottom 25px

